APP_NAME="Gerador de promoções Crônicas"
APP_ENV=local
APP_KEY=base64:eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHg=
APP_DEBUG=true
APP_URL="http://127.0.0.1:3001"
APP_TIMEZONE="America/Sao_Paulo"

DB_CONNECTION=sqlite
DB_DATABASE="storage/database.db"

FILESYSTEM_DISK=local
LOG_CHANNEL=stderr
LOG_LEVEL=debug

PDF_APP_URL="http://127.0.0.1:5199"
# CHROMIUM_BIN="/usr/bin/chromium"
# CHROMIUM_NO_SANDBOX="0"
# PDF_RUNTIME_BIN="/usr/local/bin/node"
