promo-pdf.cronicasjeans.com.br {
    encode gzip
    root * __APP_ROOT__/dist

    route {
        handle_path /api/* {
            root * __APP_ROOT__/php
            rewrite * /index.php?route=/api{http.request.uri.path}
            php_fastcgi unix/__PHP_FPM_SOCK__
        }

        handle_path /uploads/* {
            root * __APP_ROOT__/storage/uploads
            file_server
        }

        try_files {path} /index.html
        file_server
    }
}
